@font-face {
    font-family: "Cormorant Infant";
    src: url("fonts/CormorantInfant-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Cormorant Infant";
    src: url("fonts/CormorantInfant-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Cormorant Infant";
    src: url("font/CormorantInfant-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Cormorant Infant";
    src: url("font/CormorantInfant-SemiBold.ttf");
    font-weight: 700;
}
 
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Infant', serif;
}
html{
    font-size: 25px;
    font-weight: 400;
}
h1{
    font-size: 8rem;
    font-weight: 300;
}
h2{
    font-size: 2rem;
    font-weight: 400;
}
h3{
    font-size: 2rem;
    font-weight: 400;
}

.header-content-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.header-content-container video{
    height: 100vh;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
}

.header-top-half {
    height: 50%;
    width: 100%;
    background: white;
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    transition: 0.7s;
}
.header-bottom-half {
    height: 50%;
    width: 100%;
    background: white;
    position: absolute;
    top:50%;
    left: 0;
    z-index: 2;
    transition: 0.7s;
}

.header-title{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    z-index: 3;
    color: #787878;
    letter-spacing: 0.66em;
    cursor: default;
}

.header-content-container:hover .header-top-half{
    transform: translateY(-90%);
}
.header-content-container:hover .header-bottom-half{
    transform: translateY(90%);
}

.header-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30%;
    background: #8D4545;
    border-radius: 20px;
    padding: 41px 130px;
    z-index: 3;
    border: none;
    color: white;
    font-size: 1rem;
    transition: 0.1s;
}

.header-btn::before{
    content: url("img/button-left-icon.png");
  position: absolute;
    height: 100%;
    top:0;
    left: -80px;
}

.header-btn::after{
    content:url("img/button-right-icon.png");
    position: absolute;
    height: 100%;
    top:0;
    right: -80px;
}

.header-btn:hover{
    background: #743838;
    transform: translateX(-50%) scale(1.1);
}


.navigation {
    width: 130px;
    height: 100vh;
    box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.25);
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 15px;
}

.nav-items {
    display: flex;
    flex-direction: column;
}
.nav-item {
    text-decoration: none;
    position: relative;
}

.nav-item::before{
    position: absolute;
    top:50%;
    left: 0;
    background: white;
    width: 0;
    overflow: hidden;
    transform: translateY(-50%);

}

.nav-item:first-of-type::before{
    content: "Главная";
}
.nav-item:nth-of-type(2)::before{
    content: "История";
}
.nav-item:nth-of-type(3)::before {
    content: "Этапы";
}
.nav-item:last-of-type::before {
    content: "Модели";
}

.nav-item:hover::before{
    padding: 15px 55px;
    border: 1px solid black;
    background: #8D4545;
    width: 100px;
    color: white;
    transform: translate(-100%, -50%);
    transition: 0.2s;
}

.nav-item:hover img{
    transform: scale(0.9);
    background: #8D4545;
    transition: 0.2s;
}

.history {
    width: 100%;
    min-height: 700px;
    padding: 100px 0;
}

.history-container {
    max-width: 1440px;
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    margin: 0 auto;
    display: flex;
}

.history-left {
    width: 50%;
}
.history-right {
    width: 50%;
    height: 600px;
    overflow: hidden;
    position: relative;

}
.history-title::first-letter{
    font-size: 4rem;
}

.history-text {
    color: #848484;
}
.history-text::first-line{
    color: black;
    font-weight: bold;
}

.history-images{
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    width: 300%;
    animation: pic_change 8s linear 0s infinite;
}   

.models {
    width: 100%;
    padding: 100px 0;
}

.models-container {
    max-width: 1440px;
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.models-title {
    text-align: center;
    width: 100%;
    margin-bottom: 90px;
}
.models-title::first-letter{
    font-size: 4rem;
}

.model-item {
    width: fit-content;
    position: relative;
}

.model-item:nth-of-type(2n+1) {
    margin-left: auto;
}

.models-list {
    list-style: none;
}

.model-item-desc {
    position: absolute;
    width: fit-content;
    max-width:700px;
    top:50%;
    padding: 45px 58px;
    background: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    cursor: default;
}


.model-item:nth-of-type(2n) .model-item-desc{
    right: 0;
    transform: translate(90%, -50%);
}
.model-item:nth-of-type(2n+1) .model-item-desc{
    left: 0;
    transform: translate(-90%, -50%);   
}

.model-item-desc::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 3px;
    background: black;
    transition: 0.3s;
}
.model-item-desc::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 3px;
    background: black;
    transition: 0.3s;
}
.model-item-desc:hover::before, .model-item-desc:hover::after{
    width: 100%;
} 


.model-item-desc p{
    margin-top: 20px;
    color:#848484;
}

.model-item-desc p::first-letter{
    color: black;
    font-size: bold;
}

.dates
{
    height: 300px;
    max-width: 1440px;
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.events
{
    height: 2rem;
    overflow: hidden;
}
.dates-title {
    text-align: center;
    width: 100%;
}

.dates-title::first-letter{
    font-size: 4rem;
}
.dates-event
{
    line-height: 2rem;
    width: 55%;
    margin:  2rem auto;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    position: relative;
    animation: event_change 10s linear 0s infinite;
}

.dates-event::before
{
    content: url(img/icons/porsche-logo.png);
    height: 1.5rem;
}
.dates-years
{
    color: #848484;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 540px;
    max-width: 1440px;
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    margin: 0 auto;

}

footer p::first-letter{
    font-size: 4rem;
}

@keyframes pic_change{
    0%{
        left: 0;
    }
    33%{
        left: -100%;
    }
    66%{
        left: -200%;
    }
    100%{
        left: -300%;
    }
}


@keyframes event_change{
    0%{
        top: 0;
    }
    33%{
        top: -500%;
    }
    66%{
        top: -1000%;
    }
    100%{
        top: -1500%;
    }
}